@model Project_5.Models.Admin.AdminCreateNewRole;
@{
    Layout = "_Layout";
}

<html lang="en">
<head>
    <title>Create New Role</title>
</head>
<body>
<form asp-action="CreateNewRole" method="post" class="p-4 w-50 mx-auto shadow rounded bg-light">
    <div class="mb-3">
        <label class="form-label">RoleName</label>
        <input asp-for="Name" class="form-control" placeholder="Enter role name"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary w-100">Save Changes</button>
    </div>
    <div class="text-danger mt-2" asp-validation-summary="ModelOnly"></div>
</form>
</body>
</html>