@model List<Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
<head>
    <title>Customer Test</title>
    @* <link href="~/style.css" rel="stylesheet"/> *@
</head>

<h3>Customer List</h3>
    <a asp-action="Create" asp-controller="Home">Create</a>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>
                    <a asp-action="Update" asp-controller="Home" asp-route-id="@customer.Id">Update</a>
                    <a asp-action="Remove" asp-controller="Home" asp-route-id="@customer.Id">Remove</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
