@model List<Project_1.Models.Customer>

<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
<head>
    <title>Customer Test</title>
    <link href="~/style.css" rel="stylesheet"/>
</head>
<body>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
        </tr>
    }
</table>

</body>
</html>