@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-4">
        @await Component.InvokeAsync("NewsComponent",new{@color="Red"})
        @* <partial name="_NewsPartial" model="NewsContext.News"/> for partial view  *@
    </div>
    
    <paragraph short-description="LeonBrave"></paragraph>
    <div class="text-md-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, dolores eaque earum in nam necessitatibus officia quasi quidem saepe tempore! Consequuntur cumque cupiditate deserunt distinctio, in omnis optio pariatur perspiciatis quos recusandae repellendus unde vitae voluptatem? Consectetur cumque dolorem ducimus est et harum quaerat quam, quod sequi suscipit. Deleniti iure maxime nulla veritatis. A aut, deserunt dolor est ipsum iusto mollitia similique temporibus vel veritatis? Aut culpa, hic laudantium nulla sunt vel veritatis vero vitae? Accusamus aliquam at dolore doloremque eligendi eveniet excepturi facere illo in ipsa, iste itaque iure iusto laboriosam laborum laudantium magnam modi neque nobis numquam obcaecati officiis quae quam quasi reiciendis rem sed sint, tempora veniam vero voluptate voluptates voluptatibus voluptatum. Ab alias consectetur dolores enim, error ex, explicabo fuga laborum laudantium, minima molestias suscipit totam voluptas. Corporis cumque error explicabo facilis impedit ipsam neque quos similique. Ab consequuntur corporis culpa dolore, doloremque dolorum ea iusto maiores maxime nesciunt nulla odio odit quia quos rem reprehenderit rerum sequi ullam? Ad consectetur debitis facilis mollitia! Adipisci debitis ducimus fugit molestiae necessitatibus nobis, tempora voluptate. Ipsa nihil, totam. Corporis ducimus eaque eum ipsum itaque labore laudantium maiores maxime non, obcaecati officia vel vitae voluptate. Consequatur enim est ex facilis fugiat numquam quia repellat, sequi soluta vel. Accusamus culpa cum dolorum iste, obcaecati praesentium qui! Amet, at cupiditate dignissimos, distinctio dolor error hic iste labore maxime minima nulla porro qui repellendus velit vitae! Amet autem, consequatur cumque ducimus earum est exercitationem id natus odit, officia optio porro quas quod, sed veritatis! Consectetur delectus dignissimos, ipsum iste maxime officiis placeat. Amet animi aperiam assumenda autem beatae consectetur cumque eaque fuga, illum in labore, non nostrum, obcaecati omnis saepe soluta totam voluptate voluptatum. Ad adipisci animi deleniti doloremque laboriosam, libero molestias odit qui! Accusantium commodi harum illo incidunt quibusdam quidem vero!
    </div>

</div>



