@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Create Customer</title>
<h3>Create Customer</h3>
<form asp-action="Create" asp-controller="Customer" method="post">
    <div class="form-group">
        <label>
            Customer Name: <span class="text-danger">*</span>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </label>
        <input asp-for="@Model.FirstName" class="form-control">
    </div>

    <div class="form-group">
        <label>
            Customer Last Name: <span class="text-danger">*</span>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </label>
        <input asp-for="@Model.LastName" class="form-control">
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    @* <div asp-validation-summary="ModelOnly" class="text-danger"> *@
    @*      *@
    @* </div> *@
</form>