@model List<CategoryListModel>;

@{
    Layout = "_Layout";
}

@{
    @if (Model.Count > 0)
    {
        <table class="table">
            <thead>
            <td>Id</td>
            <td>Definition</td>
            <td></td>
            </thead>
            <tbody>
            @foreach (var categoryListModel in Model)
            {
                <tr>
                    <td>
                        @categoryListModel.Id
                    </td>
                    <td>
                        @categoryListModel.Definition
                    </td>
                    <td>
                        <a asp-action="Remove" asp-controller="Category" asp-route-id="@categoryListModel.Id" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">No Category founded.</div>
    }

}