

<!DOCTYPE html>

<html>
<head>
    <title>Todo App</title>
    <link href="~/node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<p>Index Works</p>
<div class="container my-2">
    <table>

    </table>
</div>
</body>
</html>