<!DOCTYPE html>

<html>
<head>
    <title>Not Found</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1 class="text-danger text-center">Your looking page is not found.</h1>

</body>
</html>